h1 {
    font-family: Cambria, Cochin;
    color: rgb(80, 80, 158);
    text-align: center;
    margin-bottom: 65px;
    font-size: 46px;
}

h2 {
    font-family: Gothic Medium;
    color:rgb(12, 49, 80);
}

h3 {
    font-family: Cambria, Cochin, Georgia;
    color: rgb(39, 6, 104);
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    color: rgb(32, 7, 49);
}

h5 {
    font-family: comic sans;
    color: rgb(56, 13, 56);
    font-size: 16px;

}
 
body {
    background-image: url("/home/nimo/Documents/moringa-prep-projects/portfolio/images/clouds.jpg");
    
}
 
img {
    border-width: 36px;
    border-radius: 50%;
    margin: 40px;
    height: 600px;
    width: 200px;
    float: left;
}

.column { 
         width: 350px;
         float: left;
}







